@model TSC.Website.Core.ViewModel.Pages.AccountOpeningPageViewModel

<div class="component-compact px-15">
    <div class="row">
        <div class="col-md-12">
            <div class="background-white nogutters-mobile">
                <div class="component-ID_1_9_tsc_h1 component-ID_1_9_tsc_h1-rich-text text-center mt-0">
                    <h1 class="h1">@Model.CurrentPage.PageTitle</h1>
                    <div class="content">
                        @Html.PropertyFor(m => m.CurrentPage.MainContent)
                    </div>
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form" }))
                {
                    <div class="form-steps text-center">
                        <div class="form-steps-progress h5">
                            @Model.CurrentPage.StepLabel<span class="form-steps-progress-current">@Model.CurrentStepLabel</span><span class="form-steps-progress-total">@Model.CurrentPage.TotalStepLabel</span>
                        </div>
                        <ul class="form-steps-items list-unstyled">
                            <li class="form-steps-item">
                                <span aria-hidden="true" class="form-steps-icon form-steps-icon-todo"></span> @Model.CurrentPage.StepsYourDetailsLabel
                            </li>
                            <li class="form-steps-item form-steps-item-current">
                                <span aria-hidden="true" class="form-steps-icon form-steps-icon-current"></span> @Model.CurrentPage.StepsSecurityLabel
                            </li>
                            <li class="form-steps-item">
                                <span aria-hidden="true" class="form-steps-icon form-steps-icon-todo"></span> @Model.CurrentPage.StepsAdditionalDetailsLabel
                            </li>
                            <li class="form-steps-item">
                                <span aria-hidden="true" class="form-steps-icon form-steps-icon-todo"></span> @Model.CurrentPage.StepsChildDetailsLabel
                            </li>
                            <li class="form-steps-item">
                                <span aria-hidden="true" class="form-steps-icon form-steps-icon-todo"></span> @Model.CurrentPage.StepsAccountPreferencesLabel
                            </li>
                            <li class="form-steps-item">
                                <span aria-hidden="true" class="form-steps-icon form-steps-icon-todo"></span> @Model.CurrentPage.StepsReviewLabel
                            </li>
                        </ul>
                    </div>

                    <div class="radio-tabs" style="display: block">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#new" role="tab">@Model.CurrentPage.NewCustomerLabel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#existing" role="tab">@Model.CurrentPage.ExistingCustomerLabel</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="new" role="tabpanel">
                                @Html.PropertyFor(m => m.CurrentPage.NewCustomerSummary)
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.EmailAddressHtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.TitleHtmlDropDropDownListControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.FirstNameHtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.SurnameHtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.NationalInsuranceNumberHtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.RecaptchaControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="component-ID_1_20_tsc_primary_secondary_ctas component-ID_1_20_tsc_primary_secondary_ctas-half col-md-4">
                                            <div class="col px-0 d-flex">
                                                @Html.PropertyFor(m => m.CurrentPage.NextStepHtmlButtonControlBlock)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="existing" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.CustomerNumberHtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="component-ID_1_20_tsc_primary_secondary_ctas pb-0 form-group">
                                    <a href="@Model.ForgottenCustomerNumberLink" class="btn btn-link btn-link-small btn-chevron mb-0">
                                        @Html.PropertyFor(m => m.CurrentPage.ForgottenCustomerNumberLabel)
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.PasswordHtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="component-ID_1_20_tsc_primary_secondary_ctas pb-0 form-group">
                                    <a href="@Model.ForgottenPasswordLinkUrl" class="btn btn-link btn-link-small btn-chevron mb-0">
                                        @Html.PropertyFor(m => m.CurrentPage.ForgottenPasswordLabel)
                                    </a>
                                </div>
                                <div class="component-ID_1_20_tsc_primary_secondary_ctas component-ID_1_20_tsc_primary_secondary_ctas-half col-md-4">
                                    <div class="col px-0 d-flex">
                                        @Html.PropertyFor(m => m.CurrentPage.NextStepHtmlButtonControlBlock)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step2" style="display: block">
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.SecuritySummary)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.SigninDetailsLabel)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.SigninDetailsSummary)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.NewPasswordHtmlTextBoxControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.MemorableWordHtmlTextBoxControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.SecurityQuestionsLabel)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">

                                @Html.PropertyFor(m => m.CurrentPage.SecurityQuestionsSummary)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.SecurityQuestion1HtmlDropDownListControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.SecurityQuestion1AnswerHtmlTextBoxControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.SecurityQuestion2HtmlDropDownListControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.SecurityQuestion2AnswerHtmlTextBoxControlBlock)
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.StayUpdatedLabel)
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.TipsHtmlCheckBoxControlBlock)
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.LatestNewsHtmlCheckBoxControlBlock)
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.NewslettersHtmlCheckBoxControlBlock)
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.ShareCentreUpdatesHtmlCheckBoxControlBlock)
                            </div>
                        </div>
                        <div class="component-ID_1_20_tsc_primary_secondary_ctas component-ID_1_20_tsc_primary_secondary_ctas-half col-md-4">
                            <div class="col px-0 d-flex">
                                @Html.PropertyFor(m => m.CurrentPage.PreviousStepHtmlButtonControlBlock)
                            </div>
                            <div class="col px-0 d-flex">
                                @Html.PropertyFor(m => m.CurrentPage.NextStepHtmlButtonControlBlock)
                            </div>
                        </div>
                    </div>
                    <div id="step3" style="display: block">
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.AdditionalDetailsSummary)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.NationalityHtmlDropDownListControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.CountryOfBirthHtmlDropDownListControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.TownOfBirthHtmlTextBoxControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.NationalInsuranceNumberHtmlTextBoxControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.ContactDetailsLabel)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.PropertyFor(m => m.CurrentPage.PhoneNumberHtmlTextBoxControlBlock)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <fieldset class="form-group-fieldset">
                                    <legend class="form-legend">@Model.CurrentPage.DateOfBirthLabel</legend>
                                    <div class="input-group-flex">
                                        <div class="input-group-flex-field">
                                            @Html.PropertyFor(m => m.CurrentPage.DateHtmlTextBoxControlBlock)
                                        </div>
                                        <div class="input-group-flex-field">
                                            @Html.PropertyFor(m => m.CurrentPage.MonthHtmlDropDownListControlBlock)
                                        </div>
                                        <div class="input-group-flex-field">
                                            @Html.PropertyFor(m => m.CurrentPage.YearHtmlTextBoxControlBlock)
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.PropertyFor(m => m.CurrentPage.PostCodeHtmlTextBoxControlBlock)
                                    </div>
                                    <div class="col-md-4 pl-md-0">
                                        <div class="form-group">
                                            <div class="component component-ID_1_20_tsc_primary_secondary_ctas pb-0">
                                                @Html.PropertyFor(m => m.CurrentPage.FindAddressHtmlButtonControlBlock)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="component-ID_1_20_tsc_primary_secondary_ctas pb-0 form-group">
                            <a href="" class="btn btn-link btn-link-small btn-chevron mb-0">@Html.PropertyFor(m => m.CurrentPage.AddressManualLabel)</a>
                        </div>
                        <div class="component-ID_1_20_tsc_primary_secondary_ctas pb-0 form-group">
                            <a href="" class="btn btn-link btn-link-small btn-chevron mb-0">@Html.PropertyFor(m => m.CurrentPage.InternationalAddressLabel)</a>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <fieldset class="form-group-fieldset">
                                    <legend class="form-legend">@Model.CurrentPage.TimeAtCurrentAddressLabel</legend>
                                    <div class="input-group-flex">
                                        <div class="input-group-flex-field">
                                            @Html.PropertyFor(m => m.CurrentPage.TimeAtCurrentAddressYearsHtmlTextBoxControlBlock)
                                        </div>
                                        <div class="input-group-flex-field">
                                            @Html.PropertyFor(m => m.CurrentPage.TimeAtCurrentAddressMonthsHtmlTextBoxControlBlock)
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="component-ID_1_20_tsc_primary_secondary_ctas component-ID_1_20_tsc_primary_secondary_ctas-half col-md-4">
                            <div class="col px-0 d-flex">
                                @Html.PropertyFor(m => m.CurrentPage.BackHtmlButtonControlBlock)
                            </div>
                            <div class="col px-0 d-flex">
                                @Html.PropertyFor(m => m.CurrentPage.NextStepHtmlButtonControlBlock)
                            </div>
                        </div>
                    </div>
                            <div id="step4" style="display: block">
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.ChildTitleHtmlDropDropDownListControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.ChildFirstNameHtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.ChildLastNameHtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.ChildNationalityHtmlDropDownListControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.ChildCountryOfBirthHtmlDropDownListControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <fieldset class="form-group-fieldset">
                                            <legend class="form-legend">@Model.CurrentPage.ChildDateOfBirthLabel</legend>
                                            <div class="input-group-flex">
                                                <div class="input-group-flex-field">
                                                    @Html.PropertyFor(m => m.CurrentPage.DateHtmlTextBoxControlBlock)
                                                </div>
                                                <div class="input-group-flex-field">
                                                    @Html.PropertyFor(m => m.CurrentPage.MonthHtmlDropDownListControlBlock)
                                                </div>
                                                <div class="input-group-flex-field">
                                                    @Html.PropertyFor(m => m.CurrentPage.YearHtmlTextBoxControlBlock)
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.ChildPermanentResidentialAddressLabel)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.ChildLivesAtSameAddressHtmlCheckBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.PropertyFor(m => m.CurrentPage.PostCodeHtmlTextBoxControlBlock)
                                            </div>
                                            <div class="col-md-4 pl-md-0">
                                                <div class="form-group">
                                                    <div class="component component-ID_1_20_tsc_primary_secondary_ctas pb-0">
                                                        @Html.PropertyFor(m => m.CurrentPage.FindAddressHtmlButtonControlBlock)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.AddressField1HtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.AddressField2HtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.AddressField3HtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.AddressField4HtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.AddressField5HtmlTextBoxControlBlock)
                                    </div>
                                </div>
                                <div class="component-ID_1_20_tsc_primary_secondary_ctas pb-0 form-group">
                                    <a href="" class="btn btn-link btn-link-small btn-chevron mb-0">@Html.PropertyFor(m => m.CurrentPage.AddressManualLabel)</a>
                                </div>
                                <div class="component-ID_1_20_tsc_primary_secondary_ctas pb-0 form-group">
                                    <a href="" class="btn btn-link btn-link-small btn-chevron mb-0">@Html.PropertyFor(m => m.CurrentPage.InternationalAddressLabel)</a>
                                </div>
                                <div class="component-ID_1_20_tsc_primary_secondary_ctas component-ID_1_20_tsc_primary_secondary_ctas-half col-md-4">
                                    <div class="col px-0 d-flex">
                                        @Html.PropertyFor(m => m.CurrentPage.PreviousStepHtmlButtonControlBlock)
                                    </div>
                                    <div class="col px-0 d-flex">
                                        @Html.PropertyFor(m => m.CurrentPage.NextStepHtmlButtonControlBlock)
                                    </div>
                                </div>
                            </div>
                            <div id="step5" style="display: block">
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.AccountPreferencesSummary)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.DividendHeadingLabel)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.DividendSummary)
                                    </div>
                                </div>
                                <div class="radio-tabs" style="display: block">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#reinvestcash" role="tab">@Model.CurrentPage.ReinvestAsCashLabel</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#reinvestdividend" role="tab">@Model.CurrentPage.ReinvestDividendsLabel</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="reinvestcash" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    @Html.PropertyFor(m => m.CurrentPage.ReinvestAsCashSummary)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="reinvestdividend" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    @Html.PropertyFor(m => m.CurrentPage.ReinvestDividendsSummary)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.DealingOptionLabel)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.DealingOptionSummary)
                                    </div>
                                </div>
                                <div class="component-ID_1_20_tsc_primary_secondary_ctas pb-0 form-group">
                                    <a href="@Model.DealingOptionsAndCostsLink" class="btn btn-link btn-link-small btn-chevron mb-0">
                                        @Html.PropertyFor(m => m.CurrentPage.DealingOptionsAndCostsLabel)
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.BankDetailsLabel)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.BankDetailsSummary)
                                    </div>
                                </div>
                                <div class="radio-tabs" style="display: block">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#bank" role="tab">@Model.CurrentPage.BankHeadingLabel</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#buildingsociety" role="tab">@Model.CurrentPage.BuildingSocietyHeadingLabel</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="bank" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    @Html.PropertyFor(m => m.CurrentPage.AccountHolderNameHtmlTextBoxControlBlock)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    @Html.PropertyFor(m => m.CurrentPage.AccountNumberHtmlTextBoxControlBlock)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <fieldset class="form-group-fieldset">
                                                        <legend class="form-legend">@Model.CurrentPage.SortCodeLabel</legend>
                                                        <div class="input-group-flex">
                                                            <div class="input-group-flex-field">
                                                                @Html.PropertyFor(m => m.CurrentPage.SortCodeField1HtmlTextBoxControlBlock)
                                                            </div>
                                                            <div class="input-group-flex-field">
                                                                @Html.PropertyFor(m => m.CurrentPage.SortCodeField2HtmlTextBoxControlBlock)
                                                            </div>
                                                            <div class="input-group-flex-field">
                                                                @Html.PropertyFor(m => m.CurrentPage.SortCodeField3HtmlTextBoxControlBlock)
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="buildingsociety" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    @Html.PropertyFor(m => m.CurrentPage.AccountHolderNameHtmlTextBoxControlBlock)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    @Html.PropertyFor(m => m.CurrentPage.AccountNumberHtmlTextBoxControlBlock)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <fieldset class="form-group-fieldset">
                                                        <legend class="form-legend">@Model.CurrentPage.SortCodeLabel</legend>
                                                        <div class="input-group-flex">
                                                            <div class="input-group-flex-field">
                                                                @Html.PropertyFor(m => m.CurrentPage.SortCodeField1HtmlTextBoxControlBlock)
                                                            </div>
                                                            <div class="input-group-flex-field">
                                                                @Html.PropertyFor(m => m.CurrentPage.SortCodeField2HtmlTextBoxControlBlock)
                                                            </div>
                                                            <div class="input-group-flex-field">
                                                                @Html.PropertyFor(m => m.CurrentPage.SortCodeField3HtmlTextBoxControlBlock)
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>                                            
                                            <div class="row">
                                                <div class="col-md-5">
                                                    @Html.PropertyFor(m => m.CurrentPage.BuildingSocietyRollNumberHtmlTextBoxControlBlock)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.StayUpdatedLabel)
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.TipsHtmlCheckBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.LatestNewsHtmlCheckBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.NewslettersHtmlCheckBoxControlBlock)
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-5">
                                        @Html.PropertyFor(m => m.CurrentPage.ShareCentreUpdatesHtmlCheckBoxControlBlock)
                                    </div>
                                </div>
                                <div class="component-ID_1_20_tsc_primary_secondary_ctas component-ID_1_20_tsc_primary_secondary_ctas-half col-md-4">
                                    <div class="col px-0 d-flex">
                                        @Html.PropertyFor(m => m.CurrentPage.PreviousStepHtmlButtonControlBlock)
                                    </div>
                                    <div class="col px-0 d-flex">
                                        @Html.PropertyFor(m => m.CurrentPage.NextStepHtmlButtonControlBlock)
                                    </div>
                                </div>
                            </div>
                            <div id="step6" style="display: block">
                            </div>
                }
            </div>
        </div>
    </div>
</div>
